@import "../../scss/variables.scss" ;

.favorites {
  width: 100%;
  height: 100vh;
  display: flex;
}

.favorites__wrapper {
  width: 80%;
  margin: auto;
  padding: 40px 0;
}

.favorites__link {
  color: $basic-black;
  margin: 0 auto;

  &:hover {
    color: $black-opacity;
  }
}
