$basic-red: #ff0000;
$basic-white: #fff;
$basic-black: #000;
$basic-yellow: #ffff00;
$basic-blue: #4ea7f0;
$basic-grey: #6e6b6b;
$light-grey: #808080;
$grey-light: #a8a7a7;
$light-blue: #93dbe9;
$black-opacity: rgba(0, 0, 0, 0.651);
$white-opacity: rgba(255, 255, 255, 0.651);
$dark-grey-opacity: rgba(66, 64, 64, 0.5);
